# latex intermediates
*.aux
*.log
*.dvi
*.bbl
*.blg
*.out
*.pdf
*.synctex.gz
*.toc

# emacs temporaries
*~

# thornado output files
*.h5

# compiled code
*.o
*.mod
*.a

# AMReX
*main*ex
*tmp_build_dir
*chk*
*thornado_*

# Doxygen
Documents/html
Documents/latex

# Misc.
*.DS_Store
